html
{
	background: #FFFFFF url("../images/vector-fondo-negro2.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 915px;
	min-height: 850px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 19px;
}

#u4643
{
	z-index: 96;
	width: 326px;
	height: 186px;
	background-image: url("../images/logo-curvas-01-u5673-fr.png");
	margin-left: 287px;
}

#menuu4320
{
	z-index: 2;
	width: 615px;
	margin-left: 150px;
	margin-top: 14px;
}

#u4398
{
	width: 121px;
	min-height: 30px;
	margin-right: -10000px;
}

#u4401
{
	width: 121px;
	padding-bottom: 13px;
}

#u4401:hover
{
	margin: 0px;
}

#u4401:active
{
	margin: 0px;
}

#u4403-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u4401:hover #u4403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4401:active #u4403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4328
{
	width: 121px;
	min-height: 30px;
	margin-right: -10000px;
	left: 123px;
}

#u4331
{
	width: 121px;
	padding-bottom: 13px;
}

#u4401.MuseMenuActive,#u4331:hover
{
	margin: 0px;
}

#u4331:active
{
	margin: 0px;
}

#u4332-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u4401.MuseMenuActive #u4403-4,#u4331:hover #u4332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4331:active #u4332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4335
{
	width: 121px;
	min-height: 30px;
	margin-right: -10000px;
	left: 246px;
}

#u4336
{
	width: 121px;
	padding-bottom: 13px;
}

#u4331.MuseMenuActive,#u4336:hover
{
	margin: 0px;
}

#u4336:active
{
	margin: 0px;
}

#u4338-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u4331.MuseMenuActive #u4332-4,#u4336:hover #u4338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4336:active #u4338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4339
{
	z-index: 21;
	width: 14px;
	height: 14px;
	background-image: url("../images/arrowmenudown.gif");
	margin-right: -10000px;
	top: 8px;
	left: 107px;
}

#u4336:hover #u4339
{
	margin: 0px -10000px 0px 0px;
}

#u4336:active #u4339
{
	margin: 0px -10000px 0px 0px;
}

#u4340
{
	width: 148px;
	top: 30px;
}

#u4343
{
	width: 146px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4343:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4346
{
	z-index: 30;
	width: 14px;
	height: 14px;
	background-image: url("../images/arrowmenuright.gif");
	margin-right: -10000px;
	top: 3px;
	left: 130px;
}

#u4336.MuseMenuActive #u4339,#u4343:hover #u4346
{
	margin: 0px -10000px 0px 0px;
}

#u4343:active #u4346
{
	margin: 0px -10000px 0px 0px;
}

#u4347
{
	width: 146px;
	left: 148px;
}

#u4350
{
	width: 144px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4350:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4350:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4357
{
	width: 144px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4350.MuseMenuActive,#u4357:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4357:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4348,#u4349,#u4356,#u4363
{
	width: 146px;
}

#u4366
{
	width: 144px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4357.MuseMenuActive,#u4366:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4366:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4366.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4351-4,#u4359-4,#u4367-4
{
	width: 136px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4341,#u4342,#u4370
{
	width: 148px;
}

#u4394
{
	width: 146px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4343.MuseMenuActive,#u4394:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4394.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4345-4,#u4397-4
{
	width: 123px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4395
{
	z-index: 57;
	width: 14px;
	height: 14px;
	background-image: url("../images/arrowmenuright.gif");
	margin-right: -10000px;
	top: 3px;
	left: 130px;
}

#u4343.MuseMenuActive #u4346,#u4394:hover #u4395
{
	margin: 0px -10000px 0px 0px;
}

#u4394:active #u4395
{
	margin: 0px -10000px 0px 0px;
}

#u4394.MuseMenuActive #u4395
{
	margin: 0px -10000px 0px 0px;
}

#u4371
{
	width: 120px;
	left: 148px;
}

#u4388
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4388:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4383
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4388.MuseMenuActive,#u4383:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4372,#u4387,#u4380,#u4373
{
	width: 120px;
}

#u4374
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4383.MuseMenuActive,#u4374:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4374.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4389-4,#u4384-4,#u4375-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4321
{
	width: 122px;
	min-height: 30px;
	margin-right: -10000px;
	left: 369px;
}

#u4322
{
	width: 122px;
	padding-bottom: 13px;
}

#u4336.MuseMenuActive,#u4322:hover
{
	margin: 0px;
}

#u4322:active
{
	margin: 0px;
}

#u4324-4
{
	width: 122px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u4336.MuseMenuActive #u4338-4,#u4322:hover #u4324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4322:active #u4324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4405
{
	width: 122px;
	min-height: 30px;
	margin-right: -10000px;
	left: 493px;
}

#u4406
{
	width: 122px;
	padding-bottom: 13px;
}

#u4322.MuseMenuActive,#u4406:hover
{
	margin: 0px;
}

#u4406:active
{
	margin: 0px;
}

#u4406.MuseMenuActive
{
	margin: 0px;
}

#u4407-4
{
	width: 122px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u4322.MuseMenuActive #u4324-4,#u4406:hover #u4407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4406:active #u4407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4406.MuseMenuActive #u4407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu5272
{
	z-index: 102;
	width: 0.01px;
	height: 110px;
	margin-left: 21px;
	margin-top: 189px;
	position: relative;
}

#u5279-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 279px;
	left: 424px;
}

#u5279-4popup
{
	z-index: 103;
}

#u5290
{
	position: absolute;
	width: 830px;
	left: 25px;
}

#u5290popup
{
	z-index: 107;
}

#u5461
{
	z-index: 108;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5470
{
	z-index: 110;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u5479
{
	z-index: 112;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u5488
{
	z-index: 114;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u5497
{
	z-index: 116;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u5506
{
	z-index: 118;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u5515
{
	z-index: 120;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u5461_img,#u5470_img,#u5479_img,#u5488_img,#u5497_img,#u5506_img,#u5515_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u5524
{
	z-index: 122;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u5533
{
	z-index: 124;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u5542
{
	z-index: 126;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u5551
{
	z-index: 128;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u5560
{
	z-index: 130;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 770px;
}

#u5461:hover,#u5470:hover,#u5479:hover,#u5488:hover,#u5497:hover,#u5506:hover,#u5515:hover,#u5524:hover,#u5533:hover,#u5542:hover,#u5551:hover,#u5560:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u5560_img
{
	margin-left: -12px;
	margin-right: -12px;
}

#u5569
{
	z-index: 132;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u5578
{
	z-index: 134;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u5587
{
	z-index: 136;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u5596
{
	z-index: 138;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u5596_img
{
	margin-top: -22px;
	margin-bottom: -22px;
}

#u5605
{
	z-index: 140;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u5605_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u5614
{
	z-index: 142;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u5623
{
	z-index: 144;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u5632
{
	z-index: 146;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 490px;
}

#u5632_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u5641
{
	z-index: 148;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 560px;
}

#u5569:hover,#u5578:hover,#u5587:hover,#u5596:hover,#u5605:hover,#u5614:hover,#u5623:hover,#u5632:hover,#u5641:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u5461_clip,#u5470_clip,#u5479_clip,#u5488_clip,#u5497_clip,#u5506_clip,#u5515_clip,#u5533_clip,#u5542_clip,#u5551_clip,#u5560_clip,#u5578_clip,#u5587_clip,#u5596_clip,#u5605_clip,#u5614_clip,#u5623_clip,#u5632_clip,#u5641_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u5542_img,#u5551_img,#u5578_img,#u5587_img,#u5614_img,#u5623_img,#u5641_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u5273-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 40px;
	left: 116px;
}

#u5273-4popup
{
	z-index: 150;
}

#u5278-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 40px;
	left: 727px;
}

#u5278-4popup
{
	z-index: 154;
}

#u5280
{
	position: absolute;
	width: 565px;
	height: 435px;
	background-color: #262020;
	background-color: rgba(15, 8, 8, 0.9);
	top: -156px;
	left: 154px;
	-pie-background: rgba(15, 8, 8, 0.9);
}

#u5280popup
{
	z-index: 158;
}

#u5458
{
	z-index: 159;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5467
{
	z-index: 161;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5476
{
	z-index: 163;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5485
{
	z-index: 165;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5494
{
	z-index: 167;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5503
{
	z-index: 169;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5512
{
	z-index: 171;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5458_img,#u5467_img,#u5476_img,#u5485_img,#u5494_img,#u5503_img,#u5512_img
{
	padding-top: 31px;
	padding-bottom: 31px;
}

#u5521
{
	z-index: 173;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5530
{
	z-index: 175;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5530_img
{
	padding-left: 3px;
	padding-right: 3px;
}

#u5539
{
	z-index: 177;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5539_img
{
	padding: 36px 21px;
}

#u5548
{
	z-index: 179;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5557
{
	z-index: 181;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5557_img
{
	padding: 68px 21px;
}

#u5566
{
	z-index: 183;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5575
{
	z-index: 185;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5584
{
	z-index: 187;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5593
{
	z-index: 189;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5593_img
{
	padding: 15px 140px;
}

#u5602
{
	z-index: 191;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5602_img
{
	padding: 51px 21px;
}

#u5611
{
	z-index: 193;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5620
{
	z-index: 195;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5629
{
	z-index: 197;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5629_img
{
	padding: 61px 21px;
}

#u5638
{
	z-index: 199;
	width: 521px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5548_img,#u5575_img,#u5584_img,#u5611_img,#u5620_img,#u5638_img
{
	padding-top: 22px;
	padding-bottom: 22px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu4617-4
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 240px;
	position: relative;
}

#u4617-4
{
	z-index: 92;
	width: 124px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u4615
{
	z-index: 90;
	width: 35px;
	height: 35px;
	background-image: url("../images/facebook-historia-u5674-fr.png");
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 130px;
}

#u4616
{
	z-index: 91;
	width: 35px;
	height: 35px;
	background-image: url("../images/twitter-u5675-fr.png");
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 170px;
}

#u5802
{
	z-index: 101;
	width: 56px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 812px;
}

#u4644-4
{
	z-index: 97;
	width: 242px;
	min-height: 17px;
	margin-left: 336px;
	margin-top: 9px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

